<form method="post" action="{{ path('admin_profile_delete', {'id': profile.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile.id) }}">
    <button class="btn btn-danger my-1" id="btnDelete" onclick="showDialogBox()">Supprimer le profil</button>
</form>

