{% extends 'base.html.twig' %}

{% block title %}New Profile{% endblock %}

{% block body %}
    <h1>Create new Profile</h1>

    {{ include('admin/user/profile/formProfile.html.twig') }}

    <a href="{{ path('admin_user_index') }}">Retour à la liste des utilisateurs</a>
{% endblock %}
