{% extends "base.html.twig" %}

{% block title %}Galerie photo{% endblock %}

{% block body %}

<h1 class="text-center">Galerie photo</h1>

    <div class="container">
    
        <section class="row justify-content-between">
                
            {% for gallery in galleries %}
                <div class="col lg-4 col-md-4 col-sm-4 shadow text-center">

                    <a href="{{ path('details_galerie', {'id': gallery.id}) }}"><img src="{{ asset('uploads/gallery/' ~ gallery.img) }}" style="width:200px"></a>
                                  
                </div>
            {% endfor %}
    
    </div>


{% endblock %}