{% extends "base.html.twig" %}

{% block body %}
<section >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">     
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <img src="/assets/imagesTrioenologie/trioenologie-trans7.png" alt="Verre de vin de couleur noir et  avec typographie Trioenologie au dessus" class="mb-2 mt-3" width="130" height="130"> 

            <h1 class="sP mb-5">Connexion</h3>

            <form method="post"> 

            <div class="form-outline mb-4">
              <label class="form-label" for="typeEmailX-2">E-mail</label>
              <input type="email" name="email" value="{{ last_username }}" id="typeEmailX-2" class="form-control form-control-lg" autocomplete="email" required autofocus>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typePasswordX-2">Mot de passe</label>
              <input type="password" name="password" id="typePasswordX-2" class="form-control form-control-lg mb-1">
              <a href="{{ path('forgot_password_request') }}">Mot de passe oublié ?</a>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
            <label>
                <input type="checkbox" value="remember-me">
                Se souvenir de moi            
            </label>
            </div>

            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-submit btn-lg btn-block mb-2 col-6" type="submit">Se connecter</button>
            </form>

            <hr class="my-4">

            <h2 class="sP mb-3">Pas encore de compte ?</h2>
            <a href="{{ path('register') }}" class="btn btn-lg btn-submit col-6">Inscrivez-vous</a>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}