<form method="post" action="{{ path('admin_occasion_delete', {'id': occasion.id}) }}" onsubmit="return confirm('Êtes-vous sûr.e de vouloir supprimer cet évènment?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ occasion.id) }}">
    <button class="btn btn-delete">Supprimer l'évènement</button>
</form>
