<form method="post" action="{{ path('admin_occasion_delete', {'id': occasion.id}) }}" onsubmit="return confirm('Êtes-vous sûr.e de vouloir supprimer cet évènment?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ occasion.id) }}">
    <div class="row justify-content-center">
        <button class="btn btn-delete col-3">Supprimer l'évènement</button>
    </div>
</form>