{% extends 'base.html.twig' %}

{% block title %}Modifier l'évènement{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-3 rF">Modifier l'évènement n°{{occasion.id}} : {{occasion.title}} </h1>

    {{ include('admin/occasion/formOccasion.html.twig', {'button_label': 'Mettre à jour'}) }}

    <br>

    {{ include('admin/occasion/deleteOccasion.html.twig') }}
</div>    
{% endblock %}
