<h1>Bonjour</h1>

<p>
    Veuillez confirmer votre adresse email en cliquant sur le lien suivant<br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>Une fois connecté(e) pensez à mettre vos informations à jour en allant sur "Mon compte > Profil" !</p>

<p>
    A bientôt !
</p>
<p>
    Trioenologie
</p>
