{% extends 'base.html.twig' %}

{% block title %}Edit Carousel{% endblock %}

{% block body %}
    <h1>Edit Carousel</h1>

    {{ include('admin/carousel/formCarousel.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_carousel') }}" class="btn btn-return">Retour au carousel</a>

    {{ include('admin/carousel/deleteCarousel.html.twig') }}
{% endblock %}
