{% extends 'base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block body %}

<div class="container">

    <h1 class="text-center mt-3 rF">Ajouter une image au carousel</h1>

    {{ include('admin/carousel/formCarousel.html.twig') }}
    
</div>
{% endblock %}
