{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-2 text-center">Modifier le profil</h1>
    <div class="row justify-content-center col-6">
    
        {{ include('user/profile/formProfile.html.twig', {'button_label': 'Update'}) }}

        <button class="btn btn-submit" type="submit">Valider</button>

    </div>
        {#  RESET PROFILE #}
        <button id="btnReset"  class="btn btn-warning my-1" href="{{ path('user_profile_reset', {'id': profile.id})}}" onclick="showDialogBox()" >Réinitialiser le profil</button>

        <a href="{{ path('user_profile') }}" class="btn btn-return col-4">Retour au profil</a>


        {# DELETE PROFILE #}
        {{ include('user/profile/deleteProfile.html.twig') }}
    
</div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/askConfirmation.js" ></script>
{% endblock %}