{% extends 'base.html.twig' %}

{% block title %}Trioenologie - Association d'oenologie: actualités, programme, cagalerie photo...{% endblock %}

{% block body %}


  <div class="container shadow">

  <h1 class="text-center">Bienvenue sur le site de</h1>
  
  {# Carousel dynamique #}
  {% include "main/partials/carousel.html.twig" %}

  <h1 class="text-center fst-italic">association d'oenologie</h1>
  
  
  </div>



{% endblock %}
