<form method="post" action="{{ path('admin_status_delete', {'id': status.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce statut? Cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.id) }}">
    <button class="btn">Supprimer</button>
</form>
