{% extends 'base.html.twig' %}

{% block title %}Nouveau statut{% endblock %}

{% block body %}
<div class="container col-lg-12 col-md-10 col-sm-8 mt-5">

    <h1 class="text-center rF mt-3 mb-3">Créer un nouveau statut</h1>

    {{ include('admin/status/formStatus.html.twig') }}

</div>
{% endblock %}
