{# <footer class="container-fluid">
    <div class="row">
        <section class="col text-center">Colonne 1</section>
        <section class="col text-center">Colonne 2</section>
        <section class="col text-center">Colonne 3</section>
    </div>
</footer> #}