{# <footer class="container-fluid">

</footer> #}

<footer>
    <div class="row">
    
        <section class="col-4 text-center" width="44%"><img src="/assets/imagesTrioenologie/banniere-trans.png" class="mt-2" width="175px;"alt=""></section>


        <section class="col-4 text-center" width="33%">    
            <a href="">
            <ul class="text-center mt-2">
                <a href="">Mentions légales</a>
                <a href="">Contact</a>
                <p class="text-center"> ©️ Trioenologie - 2022</p>   
            </ul>
            </a>
        </section>

        <section class="col-4 text-center" width="33%">
            <a href="">
            <ul class="mt-2">
                <a href=""><i class="bi bi-facebook"></i></a>
            </ul>
            </a>
        </section>
    </div>
</footer>

