{# <footer class="container-fluid">

</footer> #}

<footer id="footerNav">
    <div class="row">
    
        <div class="col-4 text-center">
        <a href="{{ path('home') }}"><img src="/assets/imagesTrioenologie/banniere-trans.png" class="mt-3 mx-auto imgFooter" alt="Bannière trioenologie, 7 verres de vin de différentes couleurs."></a>
        </div>


        <div class="col-4 text-center" width="33%">    
            <ul class="text-center mt-2">
                <a href="{{ path('mentions') }}">Mentions légales</a>
                <a href="{{ path('contact') }}">Contact</a>
                <p class="text-center"> ©️ Trioenologie - 2022</p>   
            </ul>
        </div>

        <div class="col-4 text-center" width="33%">
            <ul class="mt-4">
                <a href=""><i class="bi bi-facebook"></i></a>
            </ul>
        </div>
    </div>
</footer>

