{% extends 'base.html.twig' %}

{% block title %}New Picture{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-3 rF">Ajouter une nouvelle image</h1>
    
    {{ include('editor/picture/formPicture.html.twig') }}
</div>
{% endblock %}
