{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.email }} !{% endblock %}

{% block body %}

<div class="container">

    <h1 class="text-center welcomeSize">Bienvenue <span class="welcome">{{ app.user.email }}</span></h1>

    <div class="row justify-content-center mt-3">

        <a href="{{ path('editor_articles') }}" class="btn btn-primary articlesDash col-lg-6 col-md-6 col-sm-4">Articles</a>        
        <a href="{{ path('editor_gallery') }}" class="btn btn-primary col-lg-6 col-md-6 col-sm-4">Galerie photo</a>
    
    </div>

</div>
{% endblock %}
