{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('editor/article/formArticle.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('editor_articles') }}">back to list</a>

    {{ include('editor/article/deleteArticle.html.twig') }}
{% endblock %}
