{% extends 'base.html.twig' %}

{% block title %}Nouvelle image{% endblock %}

{% block body %}
<div class="container">

    <h1 class="text-center mt-3 rF">Ajouter une image</h1>

    {{ include('editor/gallery/formGallery.html.twig') }}

</div>
{% endblock %}
